/* CSS Cart */
#cart {
	@include dark-text;
	padding: 30px 0;
	.button-group {
			padding-top: 50px;
		}
	.container {
		.media {
			.media-left, .media-right {
				min-width: 200px;
			}
			img {
				width: 200px;
			}
			
		}
		hr {
				border-top: 1px solid $active-color;
			}
		
	}
}
