* {
  color: #fff; }

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 2; }

p, i, span {
  line-height: 2; }

@media (max-width: 767px) {
  a, span, p {
    font-size: 12px; } }
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.active-color {
  color: #02bbd2 !important; }

.focus-color {
  color: #ffe500 !important; }

#header {
  background: url(../images/bg.jpg) no-repeat center; }
  #header .head {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 50px; }
    #header .head .navbar-nav {
      width: 33.33%;
      padding: 1.2em 0;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
      #header .head .navbar-nav a {
        text-decoration: none;
        color: #fff; }
    #header .head .navbar-center {
      text-align: center; }
    #header .head .navbar-right {
      text-align: right; }
    @media (max-width: 767px) {
      #header .head .navbar-right {
        width: 58.3%;
        text-align: right; }
      #header .head .navbar-left {
        width: 41.6%;
        text-align: left; } }
    #header .head .navbar-left:hover,
    #header .head .navbar-right:hover {
      letter-spacing: 1.2px; }
      #header .head .navbar-left:hover span,
      #header .head .navbar-right:hover span {
        color: #02bbd2; }
      #header .head .navbar-left:hover a,
      #header .head .navbar-right:hover a {
        color: #02bbd2; }
      #header .head .navbar-left:hover .fa,
      #header .head .navbar-right:hover .fa {
        color: #02bbd2;
        -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
        -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
        box-shadow: 0px 0px 13px 2px #02bbd2; }
    #header .head .fa {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.8);
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms; }
    #header .head .fa:hover {
      color: #02bbd2;
      -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
      -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
      box-shadow: 0px 0px 13px 2px #02bbd2; }
  #header .body {
    padding: 150px 0; }
    #header .body .header-intro img {
      width: 300px;
      height: 160px; }
  #header #menu {
    padding-bottom: 0;
    -webkit-box-shadow: 0px 0px 13px 2px #000000; }
    #header #menu .navbar {
      margin-bottom: 0; }
      #header #menu .navbar .fa-user {
        line-height: 0; }
      #header #menu .navbar li > a {
        color: #fff; }
    #header #menu .navbar-toggle .icon-bar {
      background-color: #FFFFFF; }
    #header #menu .navbar-header {
      background-color: rgba(0, 0, 0, 0.4); }
    #header #menu .logo {
      height: 45px;
      width: 95px; }
    #header #menu .nav > li > a:focus,
    #header #menu .nav > li > a:hover {
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
      -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
      box-shadow: 0px 0px 13px 2px #02bbd2; }
    #header #menu .dropdown-menu .divider {
      background-color: #000000; }
    #header #menu .dropdown-menu > li > a:focus,
    #header #menu .dropdown-menu > li > a:hover {
      background-color: rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 0px 13px 2px #02bbd2;
      -moz-box-shadow: 0px 0px 13px 2px #02bbd2;
      box-shadow: 0px 0px 13px 2px #02bbd2; }
    #header #menu .dropdown-menu {
      background-color: rgba(0, 0, 0, 0.5); }

#wellcome {
  padding: 30px 0; }
  #wellcome h1, #wellcome p, #wellcome span, #wellcome strong {
    color: #2A2A2A; }

#our-service {
  background: url(../images/main-bg.jpg) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }
  #our-service .overlay {
    width: 100%;
    height: 100%;
    padding: 30px 0; }
    #our-service .overlay h1 {
      margin-bottom: 30px; }
    #our-service .overlay .service-box {
      border: 1px solid transparent;
      border-radius: 10px;
      padding: 10px 2px;
      -webkit-transition-duration: 300ms;
      -moz-transition-duration: 300ms;
      transition-duration: 300ms;
      min-height: 400px; }
      #our-service .overlay .service-box .fa {
        border-radius: 50%;
        border: 2px solid #02bbd2;
        width: 120px;
        height: 120px;
        line-height: 120px; }
    #our-service .overlay .service-box:hover {
      background-color: #02bbd2; }
      #our-service .overlay .service-box:hover .fa {
        color: #fff;
        -webkit-box-shadow: 0px 0px 13px 2px #fff;
        -moz-box-shadow: 0px 0px 13px 2px #fff;
        box-shadow: 0px 0px 13px 2px #fff; }
